<p id="notice"><%= notice %></p>

<h1>Conta Bancaria</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Banco</th>
      <th>Tipoconta</th>
      <th>Moeda</th>
      <th>Estado</th>
      <th>Utilizador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conta_bancaria.each do |conta_bancarium| %>
      <tr>
        <td><%= conta_bancarium.descricao %></td>
        <td><%= conta_bancarium.banco_id %></td>
        <td><%= conta_bancarium.tipoConta %></td>
        <td><%= conta_bancarium.moeda_id %></td>
        <td><%= conta_bancarium.estado %></td>
        <td><%= conta_bancarium.utilizador_id %></td>
        <td><%= link_to 'Show', conta_bancarium %></td>
        <td><%= link_to 'Edit', edit_conta_bancarium_path(conta_bancarium) %></td>
        <td><%= link_to 'Destroy', conta_bancarium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Conta Bancarium', new_conta_bancarium_path %>
