<p id="notice"><%= notice %></p>

<h1>Utilizadors</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Nome login</th>
      <th>Email</th>
      <th>Senha</th>
      <th>Nivel acesso</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @utilizadors.each do |utilizador| %>
      <tr>
        <td><%= utilizador.nome %></td>
        <td><%= utilizador.nome_login %></td>
        <td><%= utilizador.email %></td>
        <td><%= utilizador.senha %></td>
        <td><%= utilizador.nivel_acesso %></td>
        <td><%= utilizador.estado %></td>
        <td><%= link_to 'Show', utilizador %></td>
        <td><%= link_to 'Edit', edit_utilizador_path(utilizador) %></td>
        <td><%= link_to 'Destroy', utilizador, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Utilizador', new_utilizador_path %>
