<p id="notice"><%= notice %></p>

<h1>Prod Servis</h1>

<table>
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descricao</th>
      <th>Valor unitario</th>
      <th>Id imposto</th>
      <th>Id estado</th>
      <th>Id utilizador</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prod_servis.each do |prod_servi| %>
      <tr>
        <td><%= prod_servi.codigo %></td>
        <td><%= prod_servi.descricao %></td>
        <td><%= prod_servi.valor_unitario %></td>
        <td><%= prod_servi.id_imposto %></td>
        <td><%= prod_servi.id_estado %></td>
        <td><%= prod_servi.id_utilizador %></td>
        <td><%= link_to 'Show', prod_servi %></td>
        <td><%= link_to 'Edit', edit_prod_servi_path(prod_servi) %></td>
        <td><%= link_to 'Destroy', prod_servi, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prod Servi', new_prod_servi_path %>
